/* Header styling */

#main-header {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8em;
  width: 100%;
  font-size: 1.2rem;
  gap: 0.8em;
}

#main-header #logo-img {
  width: 6rem;
  height: 5rem;
}

#main-header #search-container {
  width: 30%;
  display: flex;
}

#main-header #search-button {
  background-color: #22a4d9;
}

#main-header #main-nav {
  width: 40%;
}

#main-header a:not(#logo),
#categories-dropdown-button {
  display: block;
  border-radius: 3px;
  padding: 1em 1.6em;
  text-align: center;
}

#main-header #sign-in-button a {
  background-color: #22a4d9;
  margin: 0 0.5em;
}

#main-header #register-button a {
  background-color: #ba1c57;
  margin: 0 0.5em;
}

#main-header #categories-dropdown-container {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 106.59px;
}

#main-header #categories-dropdown-container a {
  border-radius: 0px;
}

#main-header a:not(#logo):hover {
  background-color: #22a4d9;
}

#main-header #categories-dropdown-button:hover {
  background-color: #22a4d9;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#main-header #register-button a:hover {
  background-color: #ba1c57;
}

#main-header #categories-dropdown:hover #categories-dropdown-container {
  background-color: #000;
  display: block;
}

/* Main styling */

/*  > Hero styling */
#hero {
  background: linear-gradient(
      320deg,
      #22a4d9 0%,
      #432880 25%,
      #ba1c57 50%,
      #e37854 75%,
      #ba1c57 100%
    )
    no-repeat;
  display: flex;
  justify-content: space-around;
}

#hero .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#hero .slideshow-container img {
  width: 100%;
  max-height: 562px;
  vertical-align: middle;
}

#hero .my-slides {
  display: none;
}

#hero .prev,
#hero .next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 1.6em);
  width: auto;
  padding: 1.6em;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#hero .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#hero .prev:hover,
#hero .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#hero .slideshow-dots {
  width: 100%;
  padding: 1.6em;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

#hero .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ab8d98;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#hero .active,
#hero .dot:hover {
  background-color: #ba1c57;
}

#hero .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Keyframes */

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Breakpoints */

@media (max-width: 992px) {
  /* Header styling */

  #main-header {
    flex-wrap: wrap;
  }

  #main-header #search-container {
    width: 50%;
  }

  #main-header #main-nav {
    width: 100%;
    order: 5;
  }

  #main-header #categories-dropdown-container {
    width: 85.25px;
  }
}

@media (max-width: 576px) {
  /* Header styling */

  #main-header #search-container {
    width: 80%;
  }

  #main-header > .container:nth-of-type(1) {
    width: 100%;
    justify-content: center;
  }

  #main-header #categories-dropdown-container {
    width: 75.04px;
  }
}
