body {
    background: linear-gradient(50deg, #243e93, #c7325e);    
    margin: 0;
    padding: 0;
    height: 100vh;
}

.signin-container {
    background-color: #000000;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-container h2 {  
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 15px;
}

label {
    display: block;
    margin: 8px;
}

.harrove {
   background-color: #000000;
   color: #007bff;
}

.harrove:hover {
    background-color: #007bff;
    color: #fff;
}